<%= form_for [@movie, @role] do |f| %>
        <% if @role.errors.any? %>
            <div class="alert alert-danger">
                <p>The following <%= 'error'.pluralize(@role.errors.size) %> prevented this role from being saved:</p>
                <ul>
                    <% @role.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

          
        <div class="form-group">
            <%= f.label :name, 'Role Name' %>
            <%= f.text_field :name, :class => 'form-control' %>
        </div>


        <div class="form-group">
            <%= f.label :actor_id %>
            <br>
            <%= f.select :actor_id, Actor.all.collect { |a| [a.name, a.id] } , :class => 'form-control' %>
        </div>

      
<% end %>