
        
        <%= form_for @actor do |f| %>
        <% if @actor.errors.any? %>
            <div class="alert alert-danger">
                <p>The following <%= 'error'.pluralize(@actor.errors.size) %> prevented this movie from being saved:</p>
                <ul>
                    <% @actor.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="form-group">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, :class => 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, :class => 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :nationality %>
            <%= f.text_field :nationality , :class => 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :date_of_birth %>
            <br>
            <%= f.date_select :date_of_birth, order: [:month, :day, :year], start_year: 1930, :class => 'form_control' %>
        </div>

        <%= f.submit  nil , :class => 'btn btn-primary' %>
        <% end %>   